#mybody{
    background-color: rgb(118, 214, 243);
}
.heading{
    text-align: green;
    color: red;
}

#myform{
    width: 40%;
    margin: auto;
}

input[type=*text*]{
    width: 100%;
    height: 40px;

    
}